[data-theme="discord-light"] {
  --discord-light-bg0_h: #ffffff;
  --discord-light-bg0: #f2f3f5;
  --discord-light-bg0_s: #e3e5e8;
  --discord-light-bg1: #d4d7dc;
  --discord-light-bg2: #c4c9ce;
  --discord-light-bg3: #a8adb3;
  --discord-light-bg4: #80848e;

  --discord-light-fg0: #060607;
  --discord-light-fg1: #1e1f22;
  --discord-light-fg2: #313338;
  --discord-light-fg3: #4e5058;
  --discord-light-fg4: #80848e;

  --discord-light-gray: #80848e;

  --discord-light-red: #d83c3e;
  --discord-light-green: #23a559;
  --discord-light-yellow: #f0b232;
  --discord-light-blue: #5865f2;
  --discord-light-purple: #9333ea;
  --discord-light-aqua: #00b0b4;
  --discord-light-orange: #e67e22;
}
