[data-theme="gruvbox-light"] {
  --gruvbox-light-bg0_h: #f9f5d7;
  --gruvbox-light-bg0: #fbf1c7;
  --gruvbox-light-bg0_s: #f2e5bc;
  --gruvbox-light-bg1: #ebdbb2;
  --gruvbox-light-bg2: #d5c4a1;
  --gruvbox-light-bg3: #bdae93;
  --gruvbox-light-bg4: #a89984;

  --gruvbox-light-fg0: #282828;
  --gruvbox-light-fg1: #3c3836;
  --gruvbox-light-fg2: #504945;
  --gruvbox-light-fg3: #665c54;
  --gruvbox-light-fg4: #7c6f64;

  --gruvbox-light-gray: #928374;

  --gruvbox-light-red: #cc241d;
  --gruvbox-light-green: #98971a;
  --gruvbox-light-yellow: #d79921;
  --gruvbox-light-blue: #458588;
  --gruvbox-light-purple: #b16286;
  --gruvbox-light-aqua: #689d6a;
  --gruvbox-light-orange: #d65d0e;
}
